/* Colors
/* Text: black;
/* Accent: #ffcc33;
/* Accent, secondary: #eeaa33;
*/

/* Site styles */
body {
	margin: 0;
	background-color: white;
}

.container {
	width: 100%;
}
/* Links */

a 	{
	text-decoration: none;
	color: black;
	font-family: 'Montserrat';
}

a:hover {
	text-decoration: underline;
}

/* Buttons */
button {
	display: block;
	background-color: white;
	border: 2px solid #CCC; 
	color: #CCC;
	font-family: 'Montserrat';
	font-weight: 700;
	text-transform: uppercase;
    -webkit-transition: color 0.5s, border-color 0.5s;
	transition: color 0.5s, border-color 0.5s;

}

button:hover {
	color: #666;
	border-color: #666;
}

.button-small {
	margin: 10px;
	padding: 10px;
	border-radius: 10px
}

.button-large {
	margin: 30px;
	padding: 15px 30px;
	border-radius: 15px;
	font-size: 125%;	
}

.button-accent {
	background-color: #ffcc33;
	color: white;
	font-weight: 400;
	padding: 10px 20px;
	border-radius: 10px;
	border: none;
	border-bottom: 1px solid black;
	font-size: 100%;	
}

.button-accent:hover {
	background-color: #eeaa33;
	color: white;
}

.close-button {
	height: 32px;
	width: 32px;
	float: right;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.close-button:hover {
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
	-webkit-transition: -webkit-transform 0.5s; 
	transition: transform 0.5s;
}

.social-button {
	border-radius: 5px;
	border: none;
	width: 100px;
	height: 40px;
}

.social-button:hover {
	opacity: 0.8;
}

#google {
	background: #f9b098 url("../assets/google.png") no-repeat center;
}

#twitter {
	background: #a9e3f4 url("../assets/twitter.png") no-repeat center;
}



/*Forms */

input {
	border: 2px #CCC solid;
	height: 30px;
	color: #666;
	padding: 6px;
}

input[type=submit] {
	background-color: #DDD;
	border-radius: 5px;
	border: none;
	height: 40px;
}

input[type=submit]:hover {
	background-color: #CCC;
}

/* Font styling */

h1, h2 {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

h1 { font-size: 5.5em; }
h2 { font-size: 3.5em; }
h3 { font-size: 2.5em; }
h4 { font-size: 2.0em; }
h5 { font-size: 1.25em; }
h6 { font-size: 1.0em; }

p {
	font-family: 'Montserrat', sans-serif;
	color: black;
	line-height: 150%;
}

/* Block styling */
/* Landing page */
/* Landing div (initial image and title on home page)*/

#landing {
	height: 800px;
    background: #ffffff url("../assets/idea.jpg") no-repeat center; 
    background-size: 100%;	
    position: relative;
}

#flip {
	color: #ffcc33;
	font-weight: 400;
}

.title {
	margin: auto;
	padding-left: 50%;
	height: 200px;
	width: 650px;
	position: absolute;
	top: 50%;
}

/* Login window */

#screen {
	display: none;
	position: absolute;
	top: 0;
	width:100%;
	height:1000%;
	background-color: black;
	opacity: 0.7;
	margin: 0;
	z-index: 1000;
}

#login-window {
	display: none;
	position: fixed;
	top: calc(50% - 200px);
	left: calc(50% - 175px);
	width: 300px;
	height: 250px;
	background-color: white;
	z-index: 1001;
	padding: 65px 50px;
	font-size: 70%;
}

#login-window a, h5 {
	display: inline;
}

#login-window a { float: right; ;
}

#login-window form {
	margin: 20px 0;
}

#login-window input {
	width: 95%;
}

#login-window input[type=email] {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: none;
}

#login-window input[type=password] {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#login-window input[type=submit] {
	width: 100%;
}

#login-window .social-button {
	position: absolute;
	bottom: 50px;
	width: 35%;
}

#login-window #twitter {
	right: 50px;
}


/* Translate */
#espanol {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 100;
	background-color: rgba(255,255,255,0);
	border: 2px solid #000; 
	color: #000;
}

#espanol:hover {
	color: #ffcc33;
	border-color: #ffcc33;
}


/* Main div (introductory info about site and how to sign up)*/
#main {
	margin-top: 40px;
}

#main * {
	margin: 0 auto;
	text-align: center;
}

#intro {
	clear: both;
	position: relative;
	width: 80%;
}

#intro>h3 {
	width: 50%;
	line-height: 150%; 
}

.column-container {
	display:block;
	width:80%;
	margin:20px auto;
	position: relative;
}

.column {
	vertical-align: top;
	width: 27%;
	padding: 3%;
	margin: 0 auto;
	display:inline-block;
}

.column>h5 {
	padding: 10px 0 25px 0;
}

.column>p { text-align: center }

.icon {
	display: block;
	margin: auto;
	padding:15px;
	height: 80px;
	width: 80px;
}

#register {
	width: 50%;
	margin-top: 120px;
}

#register * {
	margin: 30px auto;
}

/* Navbars */
.navbar {
	z-index: 100;
	width: 100%;	
}

.navbar a, ul, li, button {
	display: inline-block;
}

#navbar-main {
	border-top: 5px solid black;
	position: absolute;
	top: 0;
	padding: 20px 0 10px 0;
	background-color: white;
}

#navbar-main div {
	display: inline-block;
}

#navbar-top-left {
	margin-left: 5%;
}

#navbar-top-left .current-link {
	color: #ffcc33;	
	text-decoration: underline;
}

#navbar-top-left #logo {
 	height: 70px;
 }

#navbar-top-left a, ul, li {
	margin: 0 10px;
	vertical-align: text-top;
}

#navbar-top-left a {
	font-family: 'Montserrat';
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1em;
}

#navbar-top-right {
	position: relative;
	float: right;
	margin-right: 5%;
}

#navbar-top-right a {
	font-weight: 400;
	text-transform: uppercase;
	color: #666;
	margin: 0 20px;
}

#navbar-bottom {
	clear: both;
	padding-top: 50px;
	position: relative;
	text-align: center;
	font-family: 'Montserrat';
}

#navbar-bottom ul>li {
	display: inline-block;
	text-align: center;
	margin: 20px 25px;
	text-transform: uppercase;
}

/* Footer */

#footer {
	margin-top: 100px;
	width: 100%;
	background-color: #EEE;
	height: 200px;
	padding-bottom: 30px;
}

#footer img {
	clear: both;
	display: block;
	margin: 30px auto 6px;	
}

#footer p, #footer>a {
	font-size: 0.5em;
	color: #666;
	font-weight: 200;
	text-align: center;
}
