/* Colors
/* Text: black;
/* Accent: #ffcc33;
/* Accent, secondary: #eeaa33;
*/

/* Site styles */
body {
	margin: 0;
	background-color: white;
	overflow-x: hidden;
}

.fullscreen {
	width: 100%;
	margin: 0;
}

.container {
	width: 100%;
	margin: auto;
}

.libcontainer {
	width: 80%;
	margin: auto;
}

/* Font styling */

h1, h2 {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

h1 { font-size: 5.5em; }
h2 { font-size: 3.5em; }
h3 { font-size: 2.5em; }
h4 { font-size: 2.0em; }
h5 { font-size: 1.25em; }
h6 { font-size: 1.0em; }

p {
	font-family: 'MuseoSans300', sans-serif;
	color: black;
	font-size: .9em;
	line-height: 175%;
}

em {
	font-style: italic;
}

label {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 0.75em;
}

/* Links */

a 	{
	text-decoration: none;
	color: black;
	font-family: 'Montserrat';
}

a:hover {
	text-decoration: underline;
}

/* Buttons */
button {
	display: block;
	background-color: white;
	border: 2px solid #09c; 
	color: #09c; /* was #ccc */
	font-family: 'MuseoSans300','Montserrat',sans-serif;
	font-weight: 300;
	letter-spacing: 1.5px;
    -webkit-transition: color 0.5s, border-color 0.5s;
	transition: color 0.5s, border-color 0.5s;

}

button:hover {
	color: #666;
	border-color: #666;
}

.button-small {
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
}

.button-large {
	padding: 15px 30px;
	border-radius: 10px;
	font-size: 125%;
    border:
}

.button-accent {
	background-color: #ffcc33;
	color: white;
	font-weight: 400;
	padding: 10px 20px;
	border-radius: 8px;
	border: none;
	border-bottom: 1px solid black;
	font-size: 100%;	
}

.button-accent:hover {
	background-color: #eeaa33;
	color: white;
}

.button-accent:active {
	background-color: black;
}

.close-button {
	height: 32px;
	width: 32px;
	float: right;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.close-button:hover {
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
	-webkit-transition: -webkit-transform 0.5s; 
	transition: transform 0.5s;
}

.social-button {
	border-radius: 5px;
	border: none;
	width: 100px;
	height: 40px;
}

.social-button:hover {
	opacity: 0.8;
}

#google {
	background: #f9b098 url("../assets/buttons/google.png") no-repeat center;
}

#twitter {
	background: #a9e3f4 url("../assets/buttons/twitter.png") no-repeat center;
}



/*Forms */

input, textarea {
	border: 2px #CCC solid;
	border-radius: 5px;
	height: 30px;
	color: #666;
	padding: 5px;
}

input[type=submit] {
	background-color: #DDD;
	border: none;
	height: 44px;
}

input[type=submit]:hover {
	background-color: #CCC;
}

textarea {
	resize: vertical;
}

/* Block styling */
/* Landing page */
/* Landing div (initial image and title on home page)*/

#landing {
	height: 800px;
    background: #ffffff url("../assets/idea.jpg") no-repeat center; 
    background-size: 100%;	
    position: relative;
}


#flip {
	color: #333;
	font-weight: 400;
   -webkit-transition: color 0.5s;
	transition: color 0.5s;
}

.title h2 {
	width: 80%;
}

.title a:hover {
	text-decoration: none;
}

.title {
	margin: auto;
	padding-left: 50%;
	height: 200px;
	width: 650px;
	position: absolute;
	top: 50%;
}

.white {
    color:white;
}


/* - - - - - - - - - - - - - - - - - -  H O W  T O  H O W  T O - - - - - - - - - - - - - - - - - - - */

/* COPIES OF INTRO */
.intro {
	clear: both;
	position: relative;
}

.intro>h3, h4, h5 {
	margin-left: auto;
    margin-right:auto;
    padding-top:3%;
    padding-bottom:3%;
	width: 50%;
	line-height: 150%;
}

.gray {
    background-color:#fafafa;
}

.gray>h3 {
    margin-left: auto;
    margin-right:auto;
    padding-top:5%;
    padding-bottom:5%;
	width: 50%;
	line-height: 150%; 
}

.graybutton {
    border: solid 2px;
    border-color: #ccc;
    color: #ccc;
}

#howto {
	height: 800px;
    background: #ffffff url("../assets/idea2.jpg") no-repeat center; 
    background-size: 100%;	
    position: relative;
}

#howto2 {
	height: 800px;
    background: #ffffff url("../assets/kids.jpg") no-repeat center; 
    background-size: 100%;	
    position: relative;
}

#howto3 {
	height: 800px;
    background: #ffffff url("../assets/detroit.jpg") no-repeat center; 
    background-size: 100%;	
    position: relative;
}

.preface {
    width:50%;
    margin:auto;
    padding-bottom:5%;
    font-size:1.2em;
    line-height:200%;
    text-align: left;
    color: #999999;
}

.faq {
    width:60%;
    margin-right:auto;
    margin-left:auto;
    text-align:left;
}

.faq h5 {
    padding:0%;
    margin-bottom:1%;
}

.answer {
    font-size:1em;
    line-height:175%;
    color:#999;
    margin-bottom:3%;
}

.blue {
    color: #09c;
}

.registertext {
    width:30%;
    margin:auto;
    padding-bottom:5%;
    font-size:1.2em;
    line-height:200%;
    color: #999999;
    text-align: left;
}

.inline {
    display:inline-block;
    position:relative;
    height: 60px;
	width: auto;
    vertical-align: middle;
}

.gggtitle {
    font-family: 'Montserrat', sans-serif;
	font-weight: 700;
    font-size: 2em;
    margin-bottom:5%;
    margin-top:5%;
}

.underline {
    border-bottom: solid 4px;
    border-color: black;
    padding-bottom:1%;
}

.tour {
    position:relative;
    margin:5% auto 5% auto;
    background: #ffffff url("../assets/howtofull.png") no-repeat center; 
    background-size: auto;	
}

#tour1 {
    position:absolute;
    top:8.1%;
    left:36%;
    height:24px;
    width:24px;
    background: #ffffff url("../assets/star.svg") no-repeat center; 
    background-size: auto;	
}

#tour2 {
    position:absolute;
    top:18.5%;
    left:36%;
    height:24px;
    width:24px;
    background: #ffffff url("../assets/star.svg") no-repeat center; 
    background-size: auto;	
}

#tour3 {
    position:absolute;
    top:42%;
    left:36%;
    height:24px;
    width:24px;
    background: #ffffff url("../assets/star.svg") no-repeat center; 
    background-size: auto;	
}

#tour4 {
    position:absolute;
    top:54%;
    left:36%;
    height:24px;
    width:24px;
    background: #ffffff url("../assets/star.svg") no-repeat center; 
    background-size: auto;	
}



    
#espanol {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 100;
	background-color: rgba(255,255,255,0);
	border: 2px solid #000; 
	color: #000;
}

#espanol:hover {
	color: #ffcc33;
	border-color: #ffcc33;
}


/* Main div (introductory info about site and how to sign up)*/
#main {
	margin-top: 0px; /*was 40px */
}

#main>div, #main>h1, #main>h2, #main>h3, #main>h4, #main>h5, #main>h6, #main>p, #main>img, #main>a {
	margin: auto;
	text-align: center;
}

.underline {
    margin-top:3%;
    border-bottom: 3px solid #000;
    font-size:1em;
    padding-bottom:.5em;
}

#intro {
	clear: both;
	position: relative;
}


#intro>h3 {
	margin-left: auto;
    margin-right:auto;
    margin-top:5%;
    margin-bottom:5%;
	width: 50%;
	line-height: 150%;
    
}

.column-container {
	display:block;
	width:60%;
	margin:20px auto;
	position: relative;
}

.column {
	vertical-align: top;
	width: 27%;
	padding: 0 3% 0 3%;
	margin: 0 auto;
	display:inline-block;
}

.column>h5 {
	padding: 10px 0;
}

.column>p { 
	margin-top: 20px;
}

.icon {
	display: block;
	margin: auto;
	padding:15px;
	height: 80px;
	width: 80px;
}

#register {
	width: 50%;
}

#register * {
	margin: auto;
}

/* Navbars */
.navbar {
	z-index: 100;
	width: 100%;	
}

.navbar a, ul, li, button {
	display: inline-block;
}

#navbar-main {
	border-top: 5px solid black;
	position: absolute;
	top: 0;
	padding: 20px 0 10px 0;
	background-color: white;
}

#navbar-main div {
	display: inline-block;
}

#navbar-top-left {
	margin-left: 5%;
}

#navbar-top-left .current-link {
	color: #ffcc33;	
	text-decoration: underline;
}

#navbar-top-left #logo {
 	height: 70px;
 }

#navbar-top-left a, #navbar-top-left  ul, #navbar-top-left li {
	margin: 0 10px;
	vertical-align: text-top;
}

#navbar-top-left a {
	font-family: 'Montserrat';
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1em;
}

#navbar-top-right {
	position: relative;
	float: right;
	margin-right: 5%;
}

#navbar-top-right a {
	font-weight: 400;
	text-transform: uppercase;
	color: #666;
	margin: 0 20px;
}

#navbar-bottom {
	clear: both;
	padding-top: 50px;
	position: relative;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

#navbar-bottom ul>li {
	display: inline-block;
	text-align: center;
	margin: 20px 25px;
	text-transform: uppercase;
}


/* Footer */

#footer {
	margin-top: 100px;
	width: 100%;
	background-color: #DDD;
	height: 200px;
	padding-bottom: 30px;
}

#footer img {
	clear: both;
	display: block;
	margin: 30px auto 6px;	
}

#footer p, #footer>a {
	font-size: 0.5em;
	color: #666;
	font-weight: 200;
	text-align: center;
}


/* Overlays */
/* Transparent screen */

#screen {
	display: none;
	position: absolute;
	top: 0;
	width:100%;
	height:1000%;
	background-color: black;
	opacity: 0.7;
	margin: 0;
	z-index: 1000;
}

.overlay {
	display: none;
	position: fixed;
	background-color: white;
	z-index: 1001;
	padding: 65px 50px;
	font-size: 70%;	
}

.overlay a, h5 {
	display: inline-block;
}

.overlay form {
	margin: 20px 0;
}

.overlay .social-button {
	position: absolute;
	bottom: 50px;
	width: 35%;
}

/* Login window */
#login-window {
	top: calc(50% - 200px);
	left: calc(50% - 200px);
	width: 300px;
	height: 250px;
}

#login-window a { float: right; vertical-align: text-bottom; }
#login-window input { width: 95%; }

#login-window input[type=email] {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom: none;
}

#login-window input[type=password] {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

#login-window input[type=submit] {
	width: 100%;
}

#login-window #twitter { right: 50px; }

/* Register Window */
#register-window {
	top: calc(50% - 200px);
	left: calc(50% - 325px);
	width: 550px;
	height: 250px;
	z-index: 1002;
}

#register-window div:first-child {
	display: inline-block;
	width: 45%;
}

#register-window div:nth-child(2) {
	display: inline-block;
	position: absolute;
	width: 40%;
	right: 50px;
}

#register-window input[name=name], #register-window input[name=title] {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom: none;
	margin-top: 20px;
}

#register-window input[name=email], #register-window input[name=role] {
	border-bottom: none;
	border-radius: 0;
}

#register-window input[name=password], #register-window input[name=zip] {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

#register-window input {
	width: 95%;
}

#register-window input[type=submit], #register-window .social-button {
	width: 110px;
	position: absolute;
	bottom: 50px;
}

#register-window #google {
	left: 50px;
}

#register-window #twitter {
	right: 54%;
}

#register-window input[type=submit] {
	right: 45px;
}

/* Download window */
#download-window {
	top: calc(50% - 200px);
	left: calc(50% - 200px);
	width: 300px;
	height: 250px;
}

#download-window input[name=name] {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom: none;
}

#download-window input[name=email] {
	border-bottom: none;
	border-radius: 0;
}

#download-window input[name=zip]{
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

#download-window input {
	width: 95%;
}

#download-window input[type=submit]{
	width: 110px;
	position: absolute;
	bottom: 50px;
	right: 45px;
}

/* Search window */
#search-window {
	top: calc(50% - 200px);
	left: calc(50% - 200px);
	width: 300px;
	height: 150px;
}

#search-window input {
	width: 95%;
}

#search-window input[type=submit]{
	width: 110px;
	position: absolute;
	bottom: 50px;
	right: 45px;
}

/* Share window */
#share-window {
	top: calc(50% - 200px);
	left: calc(50% - 325px);
	width: 550px;
	height: 250px;
}

#share-window input { display: inline-block; }

#share-window div {
	position: relative;
	top: 0;
	display: inline-block;
	margin-bottom: 60px;
	vertical-align: text-top;
}

#share-window div:first-child { width: 60%; margin-right: 25px; }
#share-window div:nth-child(3) input { width: 65%; }
#share-window div:nth-child(2) { width: 27%; float: right;}
#share-window div:nth-child(3) { width: 100%; }
#share-window div:nth-child(3) input { width: 80%; }

#share-window h5 {
	display: block;
	margin-bottom: 20px;
}

#share-window input[type=submit]{
	width: 80px !important; 
	margin-left: 10px;
}

#share-window img { height: 32px;}

#share-window a {
	display: inline-block;
	float: left;
	margin-right: 5px;
	vertical-align: middle;
}

#share-window a:hover, #contact-window a:hover {
	-ms-transform: scale(1.2, 1.2); /* IE 9 */
    -webkit-transform: scale(1.2, 1.2); /* Chrome, Safari, Opera */
    transform: scale(1.2, 1.2);
}

/* Terms + Privacy windows */
#terms-window, #privacy-window {
	top: calc(50% - 250px);
	left: calc(50% - 325px);
	width: 550px;
	height: 350px;
	overflow: scroll;
}

#terms-window div, #privacy-window div, #contact-window div { margin-top: 20px; }
#terms-window h6, #privacy-window h6, #contact-window h6 { margin-top: 20px; }
#terms-window p, #privacy-window p, #contact-window p { margin-top: 10px; }
#terms-window a, #privacy-window a, #contact-window a { text-decoration: underline; }

/* Contact window */

#contact-window {
	top: calc(50% - 200px);
	left: calc(50% - 200px);
	width: 300px;
	height: 150px;
}

#contact-window a { display: inline-block; margin-right: 10px; }
#contact-window div { margin-bottom: 40px }
#contact-window h5 { display: block; margin-bottom: 20px;}