<img class='close-button' src='public/img/icons/close.svg'>

<div class="container-fluid centered">
	<h2>Before you begin...</h2>
	<br/>
	<div class="row">
		<div class="col-md-4">
			<h3>1. Think about the objectives of your guide.</h3> 
			<p>Having clear intentions about what you want the guide to accomplish will help you make decisions about content along the way. Think about whether you may actually need <em>more than one guide</em> to explain a complex issue.</p>
		</div>
		<div class="col-md-4">
			<h3>2. Get the right team involved.</h3> 
			<p>Your guide might need input from a variety of people ranging from community members to city officials. Make sure you reach out to people who can help make sure that information in the guide is accurate and easy to use. You should definitely have a test audience review the guide before it is finalized.</p>
		</div>
		<div class="col-md-4">
			<h3>3. Prepare the content of your guide.</h3> 
			<p>You can always log back in later to access a guide in process, but it also helps to start with the right information. <a href="howto.php">Click here</a> for a list of information and content you might need in order to complete the guide.</p>
		</div>		
	</div>
	<div class="navy overlay-block">
		<p class="lead white">Remember, at any time, you can review a more comprehensive list of suggestions by clicking <a class="white" href="howto.php">How This Works.</a> You can also <a class="white" href="library.php">browse our library</a> to see how others created their guides.</p> 
	</div>	
</div>
