<img class='close-button' src='public/img/icons/close.svg'>
<h6>Download</h6>
<form action="download.php">
	<div class="form-group">
		<input class="form-control" type='text' name='name' placeholder='Name or Organization'>
		<input class="form-control" type='email' name='email' placeholder='Email'>
		<input class="form-control" type='text' name='zip' placeholder='Zip Code'>
	</div>

	<div class="form-group">
		<button type="submit" class="btn btn-lg btn-primary" id="download-now" type='submit' name='download' value='Download'>Download now</button>
	</div>
</form>