<img class='close-button' src='public/img/icons/close.svg'>
<form action='share.php'>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<h6>Get the link</h6>
				<input class="form-control" readonly type='text' name='link' placeholder='http://bit.ly/3jdl98'>
				<button type="submit" class="btn btn-lg btn-primary" id="copy-link" type='submit' name='copy' value='Copy'>Copy</button>
			</div>
			<br/>
			<div class="form-group">
				<h6>Share</h6>
				<a href='http://www.twitter.com'><img src='public/img/icons/twitter_sm.png'></a>
				<a href='https://plus.google.com'><img src='public/img/icons/google_sm.png'></a>
				<a href='http://www.tumblr.com'><img src='public/img/icons/tumblr_sm.png'></a>
				<a href='http://www.facebook.com'><img src='public/img/icons/facebook_sm.png'></a>
			</div>
		</div>
		
		<div class="form-group col-md-6">
			<h6>Send an email</h6>
			<input class="form-control" type='email' name='email' placeholder='Enter an email address'>
			<button type="submit" class="btn btn-lg btn-primary" id="email-button" type='submit' name='email' value='Send'>Send</button>			
		</div>
	</div>
	
</form>